In [3]:
### this is second session

In [7]:
##bank system
## take user name BAlance

In [15]:
name=input ("enter name")
balance=int(input("enter balance"))
system={name,balance}
system

enter name yassa
enter balance 20

{20, 'balance', 'name', 'yassa'}

In [32]:
sys={}
sys[name]=balance
sys

{'yassa': 20}

In [38]:
##
for i in range(3):
    name=input ("enter name")
    balance=int(input("enter balance"))
    sys[name]=balance

enter name yassa
enter balance 20
enter name ll3
enter balance 2
enter name dsf
enter balance 3

In [54]:
for name, balance in sys.items():
    print(name, balance)

yassa 20
mazhar 30
cc 2
ll3 2
dsf 3

In [52]:
for i in sys:
    print(i, sys[i])

yassa 20
mazhar 30
cc 2
ll3 2
dsf 3

In [56]:
##school system
### data [student_name, grade, score_as_num,
## ask user for data base

In [66]:
data_size=int(input("enter data_size"))
for i in range(1,data_size):
    student_name=input ("enter student_name")
    grade=input ("enter grade")
    score_as_num=float(input ("enter num"))
    score_as_letter=input ("score_as_letter")

enter data_size 1
enter student_name yassa
enter grade 12
enter num 3.7
score_as_letter a

In [70]:
for name, balance in sys.items():
    print(name, balance)

yassa 20
mazhar 30
cc 2
ll3 2
dsf 3

In [72]:
for name, balance in sys.items():
    print(name, balance)

yassa 20
mazhar 30
cc 2
ll3 2
dsf 3

In [80]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max_value = 0

for i in l:
    if max_value < i:
        max_value = i

print(max_value)

10

In [100]:
### given string
### count number of vowels in this string
### Vowels iboua
string = "Hello mr Ali are you 0k"

In [108]:
Vowels = {"a", "e", "i", "o", "u"}
for i in string:
    if i in Vowels:
        Vowelsn += 1
Vowelsn

21

In [118]:
n = int(input("ثnter a number"))

if n < 2:
    print(f"{n} not prime")
else:
    is_prime = True
    for i in range(2, int(n**0.5)):
        if n % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{n}  prime")
    else:
        print(f"{n}not prime")

ثnter a number -1

-1 not prime

In [120]:
#num = 1234
#write code to get sum of num'
num= input ("enter num")

enter num 10203

In [134]:
summ = 0
for i in num:
    summ+=int(i)
sum