In [4]:
name=input("enter your name")

enter your name yasssa

In [6]:
age=int(input("enter age"))

enter age 19

In [8]:
grade=int(input("enter grade"))

enter grade 6

In [12]:
score=float(input("enter score"))

enter score 3.1

In [26]:
database=int(input("enter data base"))
user={}

for i in range(database):  # Use 'range(database)' to loop 'database' times
    name = input("Enter your name: ")
    age = int(input("Enter age: "))
    grade = int(input("Enter grade: "))
    score = float(input("Enter score: "))
    user[name] = {
        "age": age,
        "grade": grade,
        "score": score
    }
print(user)

enter data base 2
Enter your name:  kll
Enter age:  13
Enter grade:  13
Enter score:  3.2
Enter your name:  hfufu
Enter age:  16
Enter grade:  13
Enter score:  1.3

{'kll': {'age': 13, 'grade': 13, 'score': 3.2}, 'hfufu': {'age': 16, 'grade': 13, 'score': 1.3}}

In [46]:
for i in user:
    print("The student name is " + i)
    for j in user[i]:
        print(f"{j}: {user[i][j]}")
    print("-" * 30)

The student name is kll
age: 13
grade: 13
score: 3.2
------------------------------
The student name is hfufu
age: 16
grade: 13
score: 1.3
------------------------------

In [48]:
def print_hello() :
    print ("hello")

In [50]:
print_hello()

hello

In [52]:
def print_hello(bala7) :
    print (f"hello{bala7}")

In [54]:
print_hello("yassa")

helloyassa

In [56]:
def print_hello(bala7='') :
    print (f"hello{bala7}")

In [113]:
print_hello()

hello

In [99]:
def summ (num1,num2) :
     print(num1+num2)

In [101]:
summ(5,6)

11

In [107]:
def summ (num1,num2) :
     return num1+num2

In [111]:
summ(5,6)

11

In [115]:
def print_database (user) :
    for i in user:
        print("The student name is " + i)
        for j in user[i]:
            print(f"{j}: {user[i][j]}")
    print("-" * 30)

In [117]:
print_database(user)

The student name is kll
age: 13
grade: 13
score: 3.2
The student name is hfufu
age: 16
grade: 13
score: 1.3
------------------------------

In [135]:
def add_new_std(user):
    database=int(input("enter data base"))
    for i in range(database):  # Use 'range(database)' to loop 'database' times
        name = input("Enter your name: ")
        age = int(input("Enter age: "))
        grade = int(input("Enter grade: "))
        score = float(input("Enter score: "))
        user[name] = {
            "age": age,
            "grade": grade,
            "score": score
    }

In [137]:
add_new_std(user)

enter data base 1
Enter your name:  hh,khjhhghhjh
Enter age:  22
Enter grade:  2
Enter score:  2

In [139]:
print_database (user)

The student name is kll
age: 13
grade: 13
score: 3.2
The student name is hfufu
age: 16
grade: 13
score: 1.3
The student name is uiu
age: 5
grade: 5
score: 5.0
The student name is hjj
age: 5
grade: 5
score: 5.0
The student name is hjk
age: 5
grade: 5
score: 5.0
The student name is hh,khjhhghhjh
age: 22
grade: 2
score: 2.0
------------------------------

In [143]:
del user['hh,khjhhghhjh']
user

{'kll': {'age': 13, 'grade': 13, 'score': 3.2},
 'hfufu': {'age': 16, 'grade': 13, 'score': 1.3},
 'uiu': {'age': 5, 'grade': 5, 'score': 5.0},
 'hjk': {'age': 5, 'grade': 5, 'score': 5.0}}

In [187]:
def search_std (std_name) :
    if std_name in user :
        print( user [std_name])
        print(f"grade{user[std_name]['grade']}")
        print(f"Grade: {user[std_name]['grade']}")
    else:
        print("not found")

In [189]:
search_std("hjk")

{'age': 5, 'grade': 5, 'score': 5.0}
grade5
Grade: 5

In [211]:
##rexcergal
def fact (num) :
    if num <=1:
        return 1
    else :
        return fact(num-1)*num

In [213]:
%%timeit
fact(100)

30.8 μs ± 265 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)